<!DOCTYPE html>
<html>

<head>
    <title>AngularJS | Project</title>
    <link rel="stylesheet" href="./bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/css/bootstrap.css">
    <script src="./jquery.js"></script>
    <script src="./bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script src="./angular.js"></script>
    <script src="./angular-route.js"></script>
    <link rel="stylesheet" href="./style.css">
    <script src="./app.js"></script>
    <script src="./controller.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
    <div class="header">
        <img src="./images/pn-logo.png" alt="logo">
        <div class="header-right">
            <a href="#">Home</a>
            <a href="about.html">About</a>
            <a href="team.html">Team</a>
        </div>
    </div>


    <div class="container">
        <div class="input-group">
            <!-- Name: <input type="text" > -->
            <div class="input-group=prepend">
                <span class="input-group-text">Name:</span>
            </div>
            <input type="text" class="form-control mb-4" ng-model="sudlanan" placeholder="Fullname">
        </div>

        <div class="input-group">
            <div class="input-group=prepend">
                <span class="input-group-text ">Address:</span>
            </div>
            <input type="text" class="form-control mb-4" ng-model="sudlanan1" placeholder="Address">
        </div>

        <div class="input-group">
            <div class="input-group=prepend">
                <span class="input-group-text">Age:</span>
            </div>
            <input type="text" class="form-control mb-4" ng-model="sudlanan2" placeholder="Age">
        </div>

        <input ng-click="update()" type="button" class="btn btn-info opt" value="Udpate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input ng-click="add(sudlanan,sudlanan1,sudlanan2)" type="button" class="btn btn-info opt" value="Save"><br><br>
        <a class="clear" ng-click="sudlanan = null">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <div class="input-group searchni">
            <input ng-model="search" type="text" class="form-control" placeholder="Search" name="search">
            <div class="input-group-btn">
                <input type="button" class="btn btn-primary" value="submit">
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-xs-3">Name</th>
                        <th class="col-sm-5">Address</th>
                        <th class="col-sm-2">Age</th>
                        <th class="col-sm-2">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="info in details | filter: search">
                        <td>{{info.Name}}</td>
                        <td>{{info.Address}}</td>
                        <td>{{info.Age}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>